{% extends 'main/base.html' %}

{% block title %}
Начать тренировку
{% endblock %}

{% block content %}
<div class="container">
    {% for message in messages %}
        {{ message }}
    {% endfor %}

    <form action="{% url 'workouts:create_question' %}" method="post">
    {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.count_questions.id_for_label }}" class="form-label">Количество вопросов</label>
            {{ form.count_questions }}
            <div class="form-text">Количество вопросов не может быть более {{ all_questions }}.</div>

        </div>
        <button type="submit" class="btn btn-primary">Начать тренировку</button>
    </form>
</div>
{% endblock %}