{% extends 'main/base.html' %}
{% load static %}

{% block title %} Войти {% endblock %}

{% block content %}

    <div class="container">
        <h2> Вход </h2>

        {% if user.is_authenticated %}
            <p>Вы уже выполнили вход</p>
            <div><a href="{% url 'users:logout' %}">Выйти</a></div>
        {% else %}
            <a href="{% url 'social:begin' 'vk-oauth2' %}">Войти через ВК</a>
            <form method="post">
                {% csrf_token %}

                <div class="md-3">
                    <vabel for="{{ form.username.id_for_label }}" class="form_label">Логин</vabel>
                    {{ form.username }}
                    <div class="form-text"></div>
                </div>
                <div class="md-3">
                    <vabel for="{{ form.password.id_for_label }}" class="form_label">Пароль</vabel>
                    {{ form.password }}
                    <div class="form-text"></div>
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            <a href="{% url 'users:register' %}"><button type="button" class="btn btn-outline-primary">Зарегистрироваться</button></a>

            </form>

        {% endif %}
    </div>



{% endblock %}