{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <h1>Start in IT</h1>

    {% if user.is_authenticated %}
        <h3>Привет, {{ user.first_name }}</h3>
        <a href="{% url 'users:logout' %}">Выйти</a>
        <br>
        <a href="{% url 'workouts:all' %}">Мои тренировки</a>
        <br>
        <a href="{% url 'workouts:create_question' %}">Тренировка</a>
        <br>
        <a href="{% url 'questions:create_question' %}">Добавить вопрос</a>
        <br>
        <a href="{% url 'questions:create_tag' %}">Добавить тег</a>

    {% else %}
    <a href="{% url 'users:login' %}">Войти</a>
        <p></p>
        <a href="{% url 'users:register' %}">Зарегистрироваться</a>
    {% endif %}
{% endblock %}